script gerador de inserts para:
- alunos
- turma
- professor
- ministra

In [1]:
import random

alunos

In [2]:
listaCursos = [
'Administração',
'Administração Pública',
'Agroecologia',
'Agronegócio',
'Análise de Sistemas',
'Antropologia',
'Arquitetura e Urbanismo',
'Artes',
'Artes Cênicas',
'Astronomia',
'Biblioteconomia',
'Biologia',
'Biomedicina',
'Ciência da Computação',
'Ciências Econômicas',
'Ciências Sociais',
'Cinema e Audiovisual',
'Composição e Regência',
'Computação',
'Comunicação e Marketing'
]

In [3]:
listaNomes = [
'Miguel',
'Arthur',
'Heitor',
'Helena',
'Alice',
'Theo',
'Davi',
'Laura',
'Gabriel',
'Gael',
'Bernardo',
'Samuel',
'Valentina',
'João Miguel',
'Enzo Gabriel',
'Heloísa',
'Pedro',
'Lorenzo',
'Sophia',
'Maria Clara'
]

In [4]:
inserts = []

for i in range(500):
    nome = listaNomes[random.randint(0, 19)]
    curso = listaCursos[random.randint(0, 19)]
    idade = random.randint(18, 40)
    cpf = str(random.randint(0, 99999999999))
    if(len(cpf) < 11):
        cpf = str((11 - len(cpf)) * 0) + cpf
    semestre = random.randint(1, 4)
    insert = f"INSERT INTO aluno (nome, curso, idade, cpf, semestre) VALUES ('{nome}', '{curso}', {idade}, '{cpf}', {semestre});"
    inserts.append(insert)

f = open('inserts-aluno.sql', 'w')
for i in inserts:
    f.write(str(i + '\n'))
f.close()

inserts[:5]

["INSERT INTO aluno (nome, curso, idade, cpf, semestre) VALUES ('Theo', 'Cinema e Audiovisual', 27, '14857692368', 1);",
 "INSERT INTO aluno (nome, curso, idade, cpf, semestre) VALUES ('Helena', 'Cinema e Audiovisual', 34, '68707236838', 1);",
 "INSERT INTO aluno (nome, curso, idade, cpf, semestre) VALUES ('João Miguel', 'Computação', 35, '86905532167', 2);",
 "INSERT INTO aluno (nome, curso, idade, cpf, semestre) VALUES ('Gael', 'Administração', 22, '86006355809', 1);",
 "INSERT INTO aluno (nome, curso, idade, cpf, semestre) VALUES ('Pedro', 'Artes', 27, '33670272648', 2);"]

tumas

In [5]:
inserts = []
for i in range(100):
    tamanho = random.randint(20, 70)
    #insert = f"INSERT INTO turma (tamanho) VALUES ({tamanho});"
    insert = f"INSERT INTO turma VALUES (default);"
    inserts.append(insert)

f = open('inserts-turma.sql', 'w')
for i in inserts:
    f.write(str(i + '\n'))
f.close()

inserts[:5]

['INSERT INTO turma VALUES (default);',
 'INSERT INTO turma VALUES (default);',
 'INSERT INTO turma VALUES (default);',
 'INSERT INTO turma VALUES (default);',
 'INSERT INTO turma VALUES (default);']

professor

In [6]:
listaNomesProf = [
'Maria',
'Ana',
'Adriana',
'Márcia',
'Sandra',
'Luciana',
'Cláudia',
'Patrícia',
'Simone',
'Andreia',
'José',
'Antônio',
'Francisco',
'João',
'Paulo',
'Carlos',
'Marcos',
'Marcelo',
'Márcio',
'Luiz'
]

In [7]:
# 8 areas do conhecimento
listaAreas = [
'Ciências Exatas e da Terra',
'Ciências Biológicas',
'Engenharias',
'Ciências da Saúde',
'Ciências Agrárias',
'Ciências Humanas',
'Linguística, Letras e Artes',
'Ciências Sociais Aplicadas'
]

In [8]:

inserts = []

for i in range(70):
    nome = listaNomesProf[random.randint(0, 19)]
    idade = random.randint(25, 70)
    cpf = str(random.randint(0, 99999999999))
    if(len(cpf) < 11):
        cpf = str((11 - len(cpf)) * 0) + cpf
    area = listaAreas[random.randint(0,7)]
    insert = f"INSERT INTO professor (nome, idade, cpf, area) VALUES ('{nome}', {idade}, '{cpf}', '{area}');"
    inserts.append(insert)

f = open('inserts-professor.sql', 'w')
for i in inserts:
    f.write(str(i + '\n'))
f.close()

inserts[:5]

["INSERT INTO professor (nome, idade, cpf, area) VALUES ('Ana', 39, '53641058478', 'Ciências Biológicas');",
 "INSERT INTO professor (nome, idade, cpf, area) VALUES ('Márcio', 34, '49433333775', 'Ciências Agrárias');",
 "INSERT INTO professor (nome, idade, cpf, area) VALUES ('Andreia', 38, '77581414979', 'Ciências Humanas');",
 "INSERT INTO professor (nome, idade, cpf, area) VALUES ('Márcia', 69, '34648763550', 'Ciências Biológicas');",
 "INSERT INTO professor (nome, idade, cpf, area) VALUES ('Luiz', 46, '09699266681', 'Ciências Humanas');"]

ministra

In [9]:

inserts = []

for i in range(70):
    professor_id = random.randint(1, 70)
    turma_id = random.randint(1, 100)
    disciplina_id = random.randint(1, 8)
    insert = f"INSERT INTO ministra (professor_id, turma_id, disciplina_id) VALUES ({professor_id}, {turma_id}, {disciplina_id});"
    inserts.append(insert)

f = open('inserts-ministra.sql', 'w')
for i in inserts:
    f.write(str(i + '\n'))
f.close()

inserts[:5]

['INSERT INTO ministra (professor_id, turma_id, disciplina_id) VALUES (64, 38, 7);',
 'INSERT INTO ministra (professor_id, turma_id, disciplina_id) VALUES (48, 94, 8);',
 'INSERT INTO ministra (professor_id, turma_id, disciplina_id) VALUES (63, 62, 2);',
 'INSERT INTO ministra (professor_id, turma_id, disciplina_id) VALUES (15, 4, 4);',
 'INSERT INTO ministra (professor_id, turma_id, disciplina_id) VALUES (38, 54, 7);']